#red{
    border: 2px solid black;
    outline: none;
    background-color: red;
    cursor: pointer;
}
#green{
    border: 2px solid black;
    outline: none;
    background-color: green;
    cursor: pointer;
}
#blue{
    border: 2px solid black;
    outline: none;
    background-color: blue;
    cursor: pointer;
}
#yellow{
    border: 2px solid black;
    outline: none;
    background-color: yellow;
    cursor: pointer;
}
